@import "tailwindcss";

:root {
  --background: #04021f;
  --backgroundAshed: #1e1f22;
  --foreground: #ffffff;
  --theme: #798026;
}

@theme inline {
  --color-theme-black: var(--background);
  --color-theme-foreground: var(--foreground);
  --color-theme-primary:var(--theme);
  --color-theme-background:var(--backgroundAshed);
  --font-text: var(--font-poppins);
  --font-title: var(--font-mate);
  --font-subtitle: var(--font-cap);
}

body {
  background: var(--backgroundAshed);
  color: var(--foreground);
  font-family: var(--font-poppins);
}
.title {
  font-family: var(--font-mate);
  text-shadow: 2px 3px var(--theme);
}
/* Scroll Bar */
::-webkit-scrollbar {
  width: 8px;
  background: var(--backgroundAshed);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #fff 50%, #798026 100%);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #798026 60%, #fff 100%);
}

::-webkit-scrollbar-track {
  background: var(--backgroundAshed);
  border-radius: 6px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #798026 #1e1f22;
}
